.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap; /*serve para dizer aos componentes filhos que quando ultrapassarem o limite de 1200px eles vão para baixo criando uma nova linha*/
}

.min-height {
    min-height: 75vh;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}